In [0]:
import pandas as pd
import numpy as np

In [0]:
import tensorflow as tf
from tensorflow import keras

download the data and read it into a pandas dataframe.

In [27]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

Split data into predictors and target

In [0]:
concrete_data_columns = concrete_data.columns

x = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
y = concrete_data['Strength'] # Strength column

normalize the data

In [37]:
x_norm = (x - x.mean()) / x.std()
x_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

Build a Neural Network

In [0]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [0]:
#create a list to put the mean_squared_errors in it
listt= []

repeating the steps 50 times

In [0]:
for i in range(50) :
  # split the data into training data and test data
  X_train, X_test, y_train, y_test = train_test_split( x_norm, y, test_size=0.3)
  #getting the number of collumns of the X_train data frame
  n_cols = X_train.shape[1]
  # build the model
  model = regression_model()
  # fit the model
  model.fit(X_train,  y_train, validation_split=0.3, epochs=100, verbose=0)
  #make the model predict
  prediction = model.predict(X_test)
  #add mean_squared_errors to the list
  listt.append(mean_squared_error(y_test, prediction))

In [48]:
#mean of the list
mean = np.mean(listt)
#std of the list
std = np.std(listt)
print("mean = ",mean)
print("std = ",std)

mean =  112.73573741477102
std =  21.893722988022162